@model OnlineRefrigerator.Models.CalculatorViewModel

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<label for="Types">Servings</label>

<select class="form-control" id="categorySearchNew" asp-for="Selected_Glossary" asp-items="Model.Glossary_List"></select>





