@model OnlineRefrigerator.Models.CalculatorViewModel
@{
    ViewData["Title"] = "Calculator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Calculator</h1>



<div>
    <h1>Calculate things</h1>
    <br />
    <form>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="Ingredient">Ingredient</label>
                <input type="text" id="ingredient" placeholder="ingredient" class="form-control">
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Categories" class="control-label"></label>
                    @Html.DropDownListFor(s => s.SelectedCategory, Model.Categories, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="@Model.Servings" class="control-label"></label>
                    @Html.DropDownListFor(s => s.SelectedServing, Model.Servings, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
    </form>


    <div id="displayIngredients"> </div>

    @section Scripts{

        @*<script src="~/js/ingredients-functions.js"></script>
        <script src="~/js/ingredients-display.js"></script>
        <script src="~/js/ingredients-sort.js"></script>*@

    }

</div>
