@model OnlineRefrigerator.Models.RecipesCreateViewModel

<div class="form-group col-md-6">
  <label for="Ingredient">Ingredient</label>
  <input type="text" id="ingredient" placeholder="ingredient" class="form-control">
</div>
