@{
    ViewData["Title"] = "Contact";
}
@*<h1>@ViewData["Title"]</h1>*@

<div class="jumbotron">
  <h1 class="display-3">@ViewData["Title"]</h1>
  @*<p class="lead">Mateusz Chodura</p>*@
  <hr class="my-4">   
  <div class="item">
      <a href="https://www.linkedin.com/in/mateuszchodura/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>           
  <div class="item">
    <a href="https://www.github.com/matchodura/" target="_blank"><i class="fab fa-github"></i></a>
  </div>  
  <div class="item">
    <a href="mailto:mat.chodura@gmail.com" target="_blank"><i class="fas fa-at"></i></a>
  </div>            
</div>
