@model IEnumerable<RankingViewModel>

@{
    ViewData["Title"] = "Ranking";
}

<div class="jumbotron">
    <h1 class="display-3">@ViewData["Title"]</h1>
    <hr class="my-4">
    <div id="displayResults"></div>
</div>

@section Scripts{

    <script src="~/js/ranking-display.js"></script>
    <script src="~/js/functions.js"></script>

}